body {
    margin: 0;
    padding: 0;

    font-family: 'Roboto', sans-serif;
    background-color: #f4f4f4;
}

.section {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 0 auto;
    height: 100vh;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: coral;
}

.section h4 {
    font-size: 40px;
}