@media screen and (max-width: 767px) {
    section {
        height: 100%;
    }
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    padding: 0 auto;
    align-items: center;
}

section h4 {
    text-align: center;
    font-size: 25pt;
}

.description {
    font-size: 14pt;
}

/* background section */
.bg1 {
    background-color: burlywood;
}
.bg2 {
    background-color: darksalmon;
}